[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.1.11"
stripe = "*"
psycopg2-binary = "*"
coverage = "*"
djangorestframework = "*"
django-rest-knox = "*"
django-cors-headers = "*"
django-rest-auth = {extras = ["with_social"],version = "*"}

[requires]
python_version = "3.7"
