{% load static %}{% load custom-filters %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
  <!-- JQuery -->
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  <script>
  (window.jQuery || document.write('<script src="{% static 'orders/backupCDN/Jquery-3.1.1.min.js' %}"><\/script>'));
  </script>
  <!-- Bootstrap -->
  <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.2.1/bootstrap.min.js"></script>
  <link href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.2.1/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <script> if(typeof($.fn.modal) === 'undefined') {document.write('<script src="{% static 'orders/backupCDN/bootstrap.bundle.min.js' %}"><\/script>')}</script>
  <div id="bootstrapCssTest" class="collapse"></div>
  <script>
      $(function() {
        if ($('#bootstrapCssTest').is(":visible")) {
          $("head").prepend('<link rel="stylesheet" href="{% static 'orders/backupCDN/bootstrap.min.css' %}">');
        }
      });
  </script>
    <!-- Jquery UI and plugin-->
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.js"></script>
  <script>
  (window.jQuery.ui || document.write('<script src="{% static 'orders/backupCDN/Jquery-ui.min.js' %}"><\/script>'));
  </script>
  <script type="text/javascript" src="{% static 'orders/jquery-ui.multidatespicker.js' %}"></script>
  <link href="{% static 'orders/jquery-ui.multidatespicker.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'orders/jquery-ui.css' %}" rel="stylesheet" type="text/css" />

    <!-- fontawesome-->
  <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>
  <!-- google map api-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHeW2Ozdp7_hzkeQ0SB6-usUnXQJKMks4&libraries=places" type="text/javascript"></script>
  <!-- Main JS abd scss-->
  <script type="text/javascript" src="{% static 'orders/scripts.js' %}"></script>
  <link href="{% sass_src 'orders/styles.scss' %}" rel="stylesheet" type="text/css" />
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <!-- Django object for JS use-->
  {{ user.balance|json_script:"balance-data" }}
  {{ user.membership.discount|json_script:"discount"}}
  {{ area|json_script:"area-data" }}
  {{ user.address.json_geocode|json_script:"user-geodata" }}
  {{ user.order_tommorow_done_object|json_script:"order-tomorrow"}}
  {% block ext %}{% endblock %}
</head>
<body>
  <div class="wrap-head">
    <div class="header">
      {% if user.is_authenticated %}
      <p class="user-area">Welcome {{user.username}} !  <a data-toggle="tooltip" data-placement="bottom" title="Your account details" href="{% url 'account' %}">My Account</a></p>
      {% endif %}
      <a href="{% url 'index' %}"><img class="logo-full" src="{% static 'orders/img/Logo-full3.svg' %}" alt=""></img></a>
    </div>
    {% if user.is_authenticated %}
    <button type="button" onclick='location.href="{% url 'logout' %}"' class="sign btn btn-sm btn-outline-secondary">Sign out</button>
    {% else %}
    <button type="button" onclick='location.href="{% url 'login' %}#first"' class="sign btn btn-sm btn-outline-secondary">Sign in</button>
    {% endif %}
  </div>
  {% block nav %}{% endblock %}
  <div class="container-fluid main-page">
    <div class="wrapper">
      {% block body %}
      {% endblock %}
    </div>
  </div>
  <div class="wrapper wrapper-bottom">
    <div class="bottom">
      <img class="logo-btm" src="{% static 'orders/img/Logo-bottom.svg' %}" alt=""></img>
      <div class="app-link">
        <img class="app-badge" src="{% static 'orders/img/app-store-badge.png' %}" alt=""></img>
        <img class="app-badge" src="{% static 'orders/img/google-play-badge.png' %}" alt=""></img>
      </div>
    </div>
  </div>
</body>
</html>
