{% extends "orders/base.html" %}{% load static %}
{% block title %}
    Robert - Confirm
{% endblock %}
{% block ext %}
<script src="https://checkout.stripe.com/checkout.js"></script>
<script type="text/javascript"> // change form action
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelector("#main-form").action = "{% url 'checkout' %}";
  });
</script>
{% endblock %}
<meta <p id="coordinates">{{user.address.coordinates}}</p> />

{% block body %}
{% include 'orders/order-banner.html' %}
{% include 'registration/delivery-details.html' %}
<hr class="separate">
<div class="checkout">
  <input type="hidden" id="stripeToken" name="stripeToken" value="" form="main-form" />
  <input type="hidden" id="stripeEmail" name="stripeEmail" value="" form="main-form"/>
  <input type="hidden" id="str" name="str" value="" form="main-form"/>
  <input type="hidden" id="total" name="total" value="" form="main-form" />
  <input type="hidden" id="order" name="order" value="" form="main-form" />
  <input type="hidden" id="geocode" name="geocode" value="" form="main-form" />
  <input type="hidden" id="dateorder" name="dateorder" value="" form="main-form" />
  <input type="button" id="confirm-checkout" class="btn btn-lg btn-primary" value="Confirm & Pay" form="main-form">
</div>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    const balance = getBalance();
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      document.querySelector("#confirm-checkout").addEventListener('click', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        else {
          pay(balance);
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
{% endblock %}
