{% extends "orders/base.html" %}{% load static %}

{% block title %}
    Robert - Order
{% endblock %}

{% block body %}
{% include 'orders/order-banner.html' %}
{% if messages %}
{% for message in messages %}
<span class="news"> Great! Robert works here!, order Now!</span>
{% endfor %}
{% endif %}

{% if user.order_tommorow_done %}
<div class="confirm-order">
  <p class="big-text">Thank you so much! your order is confirmed!</p>
  <br><br>
  <p class="medium-text">You will receive our fresh products straight to your home, tommorow morning.</p>
  <p class="small-text">Not sure? don't worry, you can change your mind till midngight today.. (just re-click the checkbox above)</p>
</div>
<div class="wrapper-menu" style="visibility: hidden;">
{% else %}
<div class="wrapper-menu">
{% endif %}
  <div class="icon-menu">
    <img src="{% static 'orders/img/icon-baguette.svg' %}" alt="">
    <span class="menu-text">Baguettes</span>
  </div>
  <div class="icon-menu">
    <img src="{% static 'orders/img/icon-croissant.svg' %}" alt="">
    <span class="menu-text">Croissants</span>
  </div>
  <div class="icon-menu">
    <img src="{% static 'orders/img/icon-special.svg' %}" alt="">
    <span class="menu-text">Specials</span>
  </div>
  {% for I in items%}
  {{ I.price|json_script:I.name }}
  <div class="item-container {{I.type}}">
    <div class="item">
      <span class="name">{{I.name}}</span>
      <span class="price">{{I.price|floatformat:0}} AED</span>
      <button class="addremove plus">+</button>
      <span class="qty">0</span>
      <button class="addremove minus">-</button>
      <div class="photo">
        <img src="{% static 'orders/img/croissant1.jpg' %}" alt="{{I.name}}">
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% if not user.order_tommorow_done %}
<div class="form-check">
  <input type="checkbox" class="form-check-input" id="DO-check">
  <label class="form-check-label" for="DO-check">Make it your order by default?</label>
</div>
{% endif %}

<hr class="separate">
{% if not user.AO_activated %}
<div class="wrapper-ro">
    <div class="poly-left"><img src="{% static 'orders/img/Polygon-left.svg' %}" alt=""></div>
    <div class="ao-button-container">
        <span class="medium-text" >Regular Customer ? activate Auto-order ...</span>
        <span class="small-text" >... and save money!</span>
        <label class="switch">
            <form style="display: hidden" action="{% url 'AO' %}" method="POST" id="form-AO">
              {% csrf_token %}
              <input id="AO-checkbox" type="checkbox">
              <span class="slider round"></span>
            </form>
        </label>
    </div>
    <div class="poly-right"><img src="{% static 'orders/img/Polygon-right.svg' %}" alt=""></div>
</div>
{% for m in membership %}
<div class="memb memb-plat"><img src="{{ m.pic.url}}" alt=""></div>
{% endfor %}
{% for m in membership %}
<span class="text-memb medium-text">{{ m.name|upper }}</span>
{% endfor %}
{% for m in membership %}
<span class="text-memb-perc" style={% if forloop.first %}"color:#4FB98E"{% endif %}{% if forloop.last %}"color:#112F41"{% else %}"color:#F2B134"{% endif %}>-{% widthratio m.discount 1 100 %}%</span>
{% endfor %}
{% else %}
<div class="wrapper-ro">
  <div class="ao-button-container">
    <h2>AO-Activated</h2>
  </div>
</div>
{% endif %}
{% endblock %}
