<div class="wrapper">
  <div class="form-title up">
    <p>Auto-Order</p>
  </div>
  <label class="switch center">
    <form style="display: hidden" action="{% url 'AO' %}" method="POST" id="form-AO">
      {% csrf_token %}
      <input id="AO-checkbox" type="checkbox" {% if user.AO_activated %}checked{% endif %}>
      <span class="slider round"></span>
    </form>
  </label>
  {% if user.AO_activated %}
  <div id="datepicker"></div>

  <hr class="separate">
  <div class="form-title">
    <p>Order by default</p>
  </div>
  <ul class="card">
  {% for I in items %}
  <input type="hidden" value="{{I.price}}">
  <input type="hidden" value="{{I.type}}">
  <li class="default-item">
    <div class="default-content">
      <span>{{I.name}}</span>
    </div>
    <div class="button-block">
      <button class="AO-buttons"> - </button>
      {% for D in user.default_order.orderitem_set.all %}
      {% if D.item.name == I.name %}
      <span>{{D.qty}}</span>
      {% endif %}
      {% endfor %}
      <button class="AO-buttons"> + </button>
    </div>
  </li>
  {% endfor %}
  <form id="form-update-DO" action="{% url 'DO_update' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" id="default_order" name="default_order" value="" />
    <input type="button" id="submit-update-DO" class="btn btn-primary" value="Update">
  </form>
  {% if user.order_tommorow_done %}
  <form style="display: hidden" data-message="this will cancel your order and topup your Robert balance. Confirm?" action="{% url 'modify' %}" method="POST" id="action_tomorrow_select">
  {% else %}
  <form style="display: hidden" data-message="want to order?" action="{% url 'order' %}" method="POST" id="action_tomorrow_select">
  {% endif %}
  {% csrf_token %}
  <input type="hidden" id="page" name="page" value="AO" />
  </form>
  </ul>
  {% endif %}
</div>

<style>
.ui-datepicker-today + td a{
  {% if user.order_tommorow_done %}
  border: 2px solid #4FB98E !important;
  color: #112F41!important;
  background: #c8eadc !important;
  {% else %}
  border: 2px solid #BC2D19 !important;
  background: white !important;
  color: #BC2D19 !important;
  {% endif %}
}
</style>


<script type="text/javascript">
document.addEventListener('DOMContentLoaded', () => {
})
</script>
