<div class="wrapper">
<div class="form-title">
  <p>Delivery instructions</p>
</div>
<div class="confirm-location">
  <form action="{% url 'check' %}" id="check-form" method="POST" class="form-post" style="">
    {% csrf_token %}
    <div class="form-row align-items-center">
      <div class="input-group input-group col mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
        </div>
        <input id="address" type="text" class=" form-control" placeholder="Enter a delivery address!" name="postal-try" value:"" />
        <input type="hidden" id="inArea" name="inArea" value:"" />
      </div>
      <div class="col-3">
        <button id="btn-address" type="button" class="btn btn btn-success mb-2">Try now!
        </button>
      </div>
    </div>
  </form>
  <div class="card" id="map"></div>
  <p>Drag the pin on your exact location the street name should update automatically!</p>
</div>
<div class="main-form-container">
  <form id="main-form" action="/" method="POST" class="complete-profile-form card needs-validation" novalidate>
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="firstName">First Name</label>
        <input type="text" value="{{user.first_name}}" class="form-control validate" id="firstName"  name="firstName" placeholder="First Name" required>
        <div class="invalid-feedback">
          This, I need to know.
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="LastName">Last Name</label>
        <input type="text" value="{{user.last_name}}" class="form-control" id="LastName" name="LastName" placeholder="Last Name" required>
        <div class="invalid-feedback">
          This, I need to know.
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="phone">Phone Number</label>
        <input type="tel" class="form-control" value="{% if user.phone_number %}{{user.phone_number}}{% endif %}" pattern="[05][0-9]{9}" id="phone" name="phone" placeholder="Phone Number" required>
        <div class="invalid-feedback">
          Please enter a valid phone number.
        </div>
        <small class="form-text text-muted">Must be a local UAE number (start with 05).</small>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-9">
        <label for="inputAddress">Street Name/No.</label>
        <input pattern="[^!]*" class="form-control form-grey" id="inputAddress" name="inputAddress" onkeypress="return false;" readonly>
        <div class="invalid-feedback">
          Provide an available location.
        </div>
        <small class="form-text text-muted">In Dubai, the street name displayed may be different that the one expected.. Just make sure that the street number is the good one. Adjust on the map if necessary.</small>
      </div>
      <div class="form-group col-md-3">
        <label for="area">Area</label>
        <input type="text" class="form-control form-grey" id="area" name="area" onkeypress="return false;" required readonly>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="inputHousing">Housing type</label>
        <select id="inputHousing" name="inputHousing" class="form-control">
          <option value="VILLA" {% if user.address.housing == "VILLA" %} selected{% endif %}>Villa</option>
          <option value="APT" {% if user.address.housing == "APT" %} selected{% endif %}>Appartement</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="inputHousing1">Floor Nbr / Conpound Name</label>
        <input type="text" class="form-control" id="inputHousing1" name="inputHousing1"  value={% if user.address.floor.nbr %} {{user.address.floor_nbr}}{% else %}{{user.address.counpound_name}}{% endif %}>
      </div>
      <div class="form-group col-md-3">
        <label for="inputHousing2">Apt / Villa Nbr</label>
        <input value="{{user.address.apt_villa_nbr}}" type="number" class="form-control" id="inputHousing2" name="inputHousing2">
      </div>
    </div>
    <div class="form-group">
      <label for="details">More details?.</label>
      <textarea rows="5" type="text" class="form-control" id="details" name="details" placeholder="Nearest landmark, door color, Nanny at home? or anyhthing that you find usefull for Robert to serve you better ;-)">{{user.address.details}}</textarea>
    </div>
  </form>
</div>
<hr class="separate">
<div class="form-title">
  <p>Delivery preferences</p>
</div>
<div class="form-next card">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="timedelivery">Delivery time</label>
      <select id="timedelivery" name="timedelivery" class="form-control" form="main-form">
        <option value="AM" {% if user.preference.delivery_time == "AM" %} selected{% endif %}>4:00 a.m. - 6:00 a.m.</option>
        <option value="NOON" {% if user.preference.delivery_time == "NOON" %} selected{% endif %}>11:00 a.m. - 12:00 p.m.</option>
        <option value="PM" {% if user.preference.delivery_time == "PM" %} selected{% endif %}>15:00 p.m. - 16:00 p.m.</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="reception">Reception</label>
      <select value={{user.preference.reception_type}} id="reception" name="reception" class="form-control" form="main-form">
        <option value="R">Ring the bell</option>
        <option value="L" selected>Front door</option>
      </select>
    </div>
  </div>
</div>
</div>
