{% extends "orders/base-wo.html" %}{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="form login-card card">
  <p class="form-title">Member?</p>
  <form method="post" action="{% url 'signin' %}" id="login-form">
    {% csrf_token %}
    {{ login_form|crispy }}
    <input class = "next" form="login-form" type="hidden" name="next" value="{{ request.GET.next }}"/>
    <input class="hash" form="login-form" type="hidden" name="hash" value=""/>
    <button form="login-form" id="login-button" type="submit">SignIn</button>
    <a href="{% url 'password_reset' %}">Forgot your password?</a>
  </form>
</div>
<div class="form signup card">
  <p class="form-title">Create your account now!</p>
  <form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    {{ signup_form|crispy }}
    <button type="submit">Register</button>
  </form>
</div>

<script type="text/javascript">
    (document.location.hash == '#first') ? document.querySelector('.hash').value = document.location.hash : document.location.hash = "{{ hash }}" ;
</script>

{% endblock %}
