{% for o in orders %}
<div class="order-history vsmall-text">
  <p class="order-history-date"><b>{{o.date}}</b></p>
  <p class="order-history-str">{{o.str}}</p>
  <p class="order-history-address">{{o.delivery_address}}</p>
  <p class="order-history-total">{{o.total}} AED</p>
  <p class="order-history-canceled">{% if o.is_cancelled %} <b>CANCELED</b> {% endif %}</p>
  {% if o == user.order_tommorow_done %}
  <form action="{% url 'modify' %}" method="POST" class="order-history-btn">
    {% csrf_token %}
    <button onclick="confirm('This will cancel your order and topup your account balance. Confirm?'); submit();" type="button" class=" btn btn-outline-danger btn-sm">Modify?</button>
  </form>
  {% endif %}
</div>
<br>


{% endfor %}
