{% load static %}
<div class="wrapper">
  <div class="form-title">
    <p>Account information</p>
  </div>
  <div class="card account-info">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Username : <b>{{user.username}}</b><a href="#" class="btn btn-outline-danger float-right">Modify</a></li>
      <li class="list-group-item">Email : <b>{{user.email}}</b><a href="#" class="btn btn-outline-danger float-right">Modify</a></li>
      <li class="list-group-item">Phone Number : <b>{{user.phone_number}}</b><a href="#" class="btn btn-outline-danger float-right">Modify</a></li>
      <li class="list-group-item"><b>Modify your password</b><a href="{% url 'password_reset' %}#log" class="btn btn-outline-danger float-right">Modify</a></li>
    </ul>
  </div>
  <form action="{% url 'topup' %}" id="topup-form" method="POST" class="form-post card balance-info text-center">
    {% csrf_token %}
    <div class="card-header">
    <input type="hidden" id="stripeToken" name="stripeToken" value="" />
    <input type="hidden" id="stripeEmail" name="stripeEmail" value="" />
      <b>Account balance</b>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Available : <b>{{user.balance}} AED</b></li>
      <li class="list-group-item">
        <a id="button-topup" onclick="topup()" href="#" class="btn btn-outline-success">Top-up</a>
        <br><br>
        {% for T in topup %}
        <div class="form-check text-left">
          <input class="form-check-input" data-charge={{T.charge}} type="radio" name="topup" id="topup{{T.amount}}" value={{T.amount}} {% if T.amount == 200 %}checked{% endif %}>
          <label class="form-check-label" for="topup{{T.amount}}">
            <b>{{T.amount}} AED</b> for {{T.charge}} AED only
          </label>
        </div>
        {% endfor %}
      </li>
    </ul>
  </form>
  <hr class="separate">
  <div class="form-title">
    <p>Membership</p>
  </div>
  <div class="member-flex">
    <img src="{{ user.membership.pic.url }}" alt="" class="icon-memb">
    <p class="medium-text">You are {{ user.membership.name|upper }}! <small>({% widthratio user.membership.discount 1 100 %}% discount on your next order!)</small></p>
    <p>{{user.ratio}}</p>
    <div id="progress">

    </div>
  </div>
</div>
